.centered {
    text-align: center;
}

.myButton {
    width: 100%;
    margin-top: 2rem;
}

.btn-success {
    background-color: #abcc5e;
}

.addButton {
    width: 100%;
    margin-bottom: 0.5rem;
}

.actionButton {
    background: none;
    border: none;
}

.loginBackground {
    background-color: #61c1da7c;
}

.searchInput {
    width: 90%;
    margin-left: 0.5rem;
}

.searchInput::selection {
    border: none;
}